.login {
    position: absolute;
    width: 400px;
    height: 465px;
    left: 760px;
    top: 378px;
    background: linear-gradient(30.18deg, #F6BB8B -24.15%, #B57AB3 146.65%);
    border-radius: 50px 50px 5px 5px;
    display: flex;
    justify-content: space-around;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 10px 4px rgba(156, 78, 153, 0.15);
}

.container {
    position: relative;
    display: inline-block;
}

.bgc {
    position: relative;

}

.promo {
    position: absolute;
    top: 0;
    left: 0;
    width: 400px;
    height: 115.96px;
    left: calc(50% - 400px/2 - 8px);
    top: 259px;
}

.log {
    box-sizing: border-box;
    width: 290px;
    height: 45px;
    background: #DDB6C3;
    border: 1px solid #9E96F0;
    border-radius: 15px;
    position: absolute;
    align-self: flex-start;
    margin-top: 50px;
}

.pass {
    box-sizing: border-box;
    position: absolute;
    width: 290px;
    height: 45px;
    background: #DDB6C3;
    border: 1px solid #9E96F0;
    border-radius: 15px;
    align-self: flex-start;
    margin-top: 160px;
}

.signin {
    position: absolute;
    width: 290px;
    height: 45px;
    background: linear-gradient(96deg, #B57AB3 -170.38%, #6BCDD4 -170.34%, #9E96F0 185.02%);
    border-radius: 15px;
    align-self: flex-end;
    margin-bottom: 80px;
}

.signup {
    box-sizing: border-box;
    position: absolute;
    width: 290px;
    height: 45px;
    border-radius: 15px;
    align-self: flex-end;
    margin-bottom: 25px;
    background: linear-gradient(94.61deg, #F6BB8B 15%, #F19850 191.14%);
}

.profile {
    position: absolute;
    height: 20px;
    width: 20px;
    margin-left: 15px;
    margin-top: 12px;
}

.text-login {
    position: absolute;
    font-style: normal;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
    color: #8D8D8D;
    font-family: Montserrat;
    margin-left: 45px;
    margin-top: 15px;
}

.passicon {
    position: absolute;
    width: 27px;
    height: 9px;
    margin-left: 12px;
    margin-top: 18px;

}

.text-pass {
    position: absolute;
    font-style: normal;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
    color: #8D8D8D;
    font-family: Montserrat;
    margin-left: 45px;
    margin-top: 15px;

}

.text-in {
    position: absolute;
    font-family: Montserrat;
    font-style: normal;
    font-size: 16px;
    /* identical to box height */
    color: #FFFFFF;
    margin-left: 76px;
    margin-top: 13px;

}


.text-up {
    position: absolute;
    font-size: 16px;
    font-family: 'Montserrat';
    color: #FFFFFF;
    margin-left: 101px;
    margin-top: 12px;
}


@font-face {
    font-family: Montserrat;
    src: url(fonts/Montserrat-Regular.ttf);
}

.textpass {
    box-sizing: border-box;
    width: 240px;
    height: 42px;
    background: #DDB6C3;
    border: 0px solid #9E96F0;
    border-radius: 15px;
    position: absolute;
    margin-left: 45px;
    outline: none;
}

.textin {
    box-sizing: border-box;
    width: 240px;
    height: 42px;
    background: #DDB6C3;
    border: 0px solid #9E96F0;
    border-radius: 15px;
    position: absolute;
    margin-left: 45px;
    outline: none;
}

input::placeholder {
    color: #8D8D8D;
    font-style: Montserrat;
}

.signin:hover {
    background: linear-gradient(97.07deg, #6BCDD4 29.29%, #9E96F0 325.3%);
}


.signup:hover {
    background: linear-gradient(99.43deg, #FCDF99 31.84%, #F19850 139.73%);
}


.pass2 {
    box-sizing: border-box;
    position: absolute;
    width: 290px;
    height: 45px;
    background: #DDB6C3;
    border: 1px solid #9E96F0;
    border-radius: 15px;
    align-self: flex-start;
    margin-top: 215px;
}

.textpass2 {
    box-sizing: border-box;
    width: 240px;
    height: 42px;
    background: #DDB6C3;
    border: 0px solid #9E96F0;
    border-radius: 15px;
    position: absolute;
    margin-left: 45px;
    outline: none;
}

.Email {
    box-sizing: border-box;
    position: absolute;
    width: 290px;
    height: 45px;
    background: #DDB6C3;
    border: 1px solid #9E96F0;
    border-radius: 15px;
    align-self: flex-start;
    margin-top: 105px;
}

.textemail {
    box-sizing: border-box;
    width: 240px;
    height: 42px;
    background: #DDB6C3;
    border: 0px solid #9E96F0;
    border-radius: 15px;
    position: absolute;
    margin-left: 45px;
    outline: none;
}

.promocode {
    box-sizing: border-box;
    position: absolute;
    width: 290px;
    height: 45px;
    background: #DDB6C3;
    border: 1px solid #9E96F0;
    border-radius: 15px;
    align-self: flex-start;
    margin-top: 270px;
}

.textpromo {
    box-sizing: border-box;
    width: 240px;
    height: 42px;
    background: #DDB6C3;
    border: 0px solid #9E96F0;
    border-radius: 15px;
    position: absolute;
    margin-left: 45px;
    outline: none;
}

.promoic {
    position: absolute;
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-top: 12px;

}

.emailic {
    position: absolute;
    width: 22px;
    height: 15px;
    margin-left: 14px;
    margin-top: 14px;

}

.trevor {
    position: relative;
    height: 1061;
    width: 663;
    margin-left: 1029px;
    margin-top: 96px;
}